@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: #f15b2a;
  color: white;
  padding: 1rem 40px 1rem 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-weight: bold;
  font-size: 1.25rem;
}

.header .link {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.header .link:hover {
  background-color: #d44b20;
}

.header .link:active {
  background-color: #c0401c;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2.5rem;
  max-width: 1400px;
  margin: 0 auto;
}

.movie {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}

.movie:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.movie h3 {
  padding: 1rem;
  margin: 0;
  font-size: 0.9rem;
  color: #242424;
  font-weight: 500;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4rem;
  max-height: 4rem;

}

.search-form {
  display: flex;
  gap: 0.5rem;
}

.search-form input {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  color: #242424;
}

@media (max-width: 768px) {
  .movie-container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .movie img {
    height: 240px;
  }
}
